<!DOCTYPE html>
<body>
    <h1>Select a user or create a new one</h1>
	
<form action="/newUser">
	<p>Been here before? (select an existing user)</p>
	<select name="bloggers">
		<option value="<% %>">User name</option>
	</select>



</body>
</html>

