<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="<link href='http://fonts.googleapis.com/css?family=Pinyon+Script">
<style>
	h2 {
		font-family:'Pinyon Script', cursive;
		font-style: italic;
		font-size: 48px;
		text-align: justify;
		margin-left: 150px;

	}

	a:hover {
		font-weight: bold; 
	}

	ul {
		font-size: 20px;

	}

</style>
</head>
<body>
	<h1> <img src="http://thegraphicsfairy.com/wp-content/uploads/blogger/-_cnAZcHQfzw/Tcab8IfxtlI/AAAAAAAAMPU/lcZ7fJnwvvY/s1600/french%2Bbeehive%2Bvintage%2Bimage--graphicsfairy1bg.jpg" width="120" height="120" align="left" /></h1>
    <h2>The Hive</h2>
    <br/>
    <ul>

        <% Object.keys(posts).forEach(function(key){ %>
        <li><a href="/posts/<%=posts[key].id %>"><%=posts[key].title %></a>
        <p> <%= posts[key].post.substring(0, 100) %>...</p>
        </li>
        <% }) %>
    </ul>
    <a href="/post/new">Add a new post</a>
    <br/>
    <a href="/newUser">Back to Critters</a>
</body>
</html>

