<!DOCTYPE html>
<head>Create New Post
</head>
<body>
<form action="/new" method="POST">
<input type="text" name="title" placeholder="title" required>
<br/>
<input type="textarea" name="post" placeholder="add your buzz here" required>
<br/>
<input type="textarea" name="tag" placeholder="tag" required>
<br/>
<select name="user">
<% users.forEach(function(key){ %>
<option value="<%=key.id %>"><%=key.user %>
<% }) %>
</option>
</select>
<br/>
<button>Save post</button>
</form>
</body>
