<!-- <!DOCTYPE html>
<body>
	<h1>Add a new post</h1>
	
	<form action="/posts" method="POST">
		<input type="text" name="title" required>
		<input type="text" name="post" placeholder="start blogging here" required>
		<button>Save Post</button>
	</form>
</body>
</html> -->

<!DOCTYPE html>
<head>Create New Post
</head>
<body>
<form action="/new" method="POST">
<input type="text" name="title" placeholder="title" required>
<br/>
<input type="textarea" name="post" placeholder="add your buzz here" required>
<br/>
<input type="textarea" name="tag" placeholder="tag" required>
<br/>
<button>Save post</button>
</form>
</body>
