<!DOCTYPE html>
<body>
    <h1>Blogging:<br /> never in history of humanity so many people had so much to say  <br />
    to so few and about so little...</h1>
    <hr />
    <h2>Select a user or create a new one</h2>
	
<form method="POST" action="/newUser">
	<p>Been here before? (select an existing user)</p>
	<select name="users">

<!-- 	//the following loop is for an array, no need for Objects.key -->
		<% users.forEach(function(key){ %>
		<option value="/user/<%=key.user %>"><%=key.user %>
		<% }) %>
	 
	 </option>
	</select>

<button>This is me</button>

</form>
</body>
</html>

